<h1>Add a new Yoga Position</h1>

<form action="/" method="POST">

	<label>Title</label>
	<br>
	<br>
	<input type="text" name="title">
	<br>
	<br>
	<label>Image URL</label>
	<br>
	<br>
	<input type="text" name="url">
	<br>
	<br>
	<label>Description</label>
	<br>
	<br>
	<textarea name="description"></textarea>
	<br>
	<br>
	<label>Rating</label>
	<br>
	<br>
	<input type="number" name="rating">
	<br>
	<br>
	<input type="submit" name="Add Position">
	

</form>